body {
    font-family: 'Indie Flower', cursive;
    background-color: #D84315; /* Laranja escuro predominante */
    color: #ffffff; /* Branco para o texto */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.container {
    background-color: rgba(255, 255, 255, 0.2); /* Transparência para destacar o laranja */
    border-radius: 20px; /* Bordas mais arredondadas */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais suave e expansiva */
    padding: 30px 40px; /* Reduzido o padding superior e inferior */
    max-width: 600px;
    width: 100%;
    backdrop-filter: blur(10px); /* Efeito de desfoque para o fundo */
    position: relative; /* Para o z-index funcionar */
    z-index: 1;
}

h1 {
    text-align: center;
    color: #ffffff; /* Branco */
    font-size: 2.5em; /* Tamanho reduzido para o título */
    margin-bottom: 15px; /* Reduzido o espaçamento inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 .logo {
    margin-right: 10px; /* Espaço entre a logo e o texto */
    width: 50px; /* Ajustar o tamanho da logo conforme necessário */
    height: auto; /* Manter a proporção da logo */
}

.form-container {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #ffffff; /* Branco */
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em; /* Tamanho da fonte dos labels */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #FF8C00; /* Borda laranja claro */
    border-radius: 10px; /* Bordas mais arredondadas */
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    background: rgba(255, 255, 255, 0.1); /* Transparente para destacar o laranja */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Cor do texto branca */
}

button[type=submit] {
    width: 100%; /* Cobrir toda a largura */
    background-color: #FF8C00; /* Laranja claro */
    color: #ffffff; /* Texto branco */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona transição suave para a cor e a transformação */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra mais suave e expansiva */
    font-weight: bold; /* Texto em negrito */
    text-align: center;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 14px;
    font-size: 16px;
}

button[type=submit]:hover {
    background-color: #D84315; /* Laranja escuro */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

a#register-link {
    display: block;
    width: 100%;
    background-color: #FF8C00; /* Laranja claro */
    color: #ffffff; /* Texto branco */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona transição suave para a cor e a transformação */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra mais suave e expansiva */
    font-weight: bold; /* Texto em negrito */
    text-align: center;
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 14px;
    font-size: 16px;
    text-decoration: none; /* Remove a sublinha */
    margin-top: 10px;
}

a#register-link:hover {
    background-color: #D84315; /* Laranja escuro */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

/* Adiciona espaçamento entre os botões */
.form-group.submit-btn, .form-group.register-btn {
    margin-top: 10px;
}

/* Efeitos de nuvem no plano de fundo */
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 200px; /* Ajustar o tamanho das nuvens conforme necessário */
    opacity: 0.7;
}

#cloud1 {
    top: 5%;
    left: 10%;
}

#cloud2 {
    top: 20%;
    left: 70%;
}

#cloud3 {
    top: 50%;
    left: 30%;
}
