body {
    font-family: 'Indie Flower', cursive;
    background: linear-gradient(to bottom, #8B2C10, #B35408, #CC8E1F);
    background-blend-mode: multiply;
    color: #ffffff; /* Branco para o texto */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><defs><filter id="a" x="0" y="0"><feTurbulence baseFrequency="0.05" numOctaves="3" result="t"/><feDisplacementMap in="SourceGraphic" in2="t" scale="50"/></filter></defs><rect width="100%" height="100%" filter="url(#a)" /></svg>');
    opacity: 0.4; /* Ajuste a opacidade conforme necessário */
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.2); /* Transparência para destacar o laranja */
    border-radius: 20px; /* Bordas mais arredondadas */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais suave e expansiva */
    padding: 30px 40px; /* Reduzido o padding superior e inferior */
    max-width: 600px;
    width: 100%;
    backdrop-filter: blur(10px); /* Efeito de desfoque para o fundo */
    position: relative; /* Para o z-index funcionar */
    z-index: 1;
}

h1 {
    text-align: center;
    color: #ffffff; /* Branco */
    font-size: 2.5em; /* Tamanho reduzido para o título */
    margin-bottom: 15px; /* Reduzido o espaçamento inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 .logo {
    margin-right: 10px; /* Espaço entre a logo e o texto */
    width: 50px; /* Ajustar o tamanho da logo conforme necessário */
    height: auto; /* Manter a proporção da logo */
}

.form-container {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #ffffff; /* Branco */
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em; /* Tamanho da fonte dos labels */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #FFD700; /* Mostarda */
    border-radius: 10px; /* Bordas mais arredondadas */
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    background: rgba(255, 255, 255, 0.1); /* Transparente para destacar o laranja */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Cor do texto branca */
}

/* Estilo para os links */
a.custom-link {
    display: inline-block;
    width: 80%; /* Aumenta a largura dos links */
    padding: 20px; /* Aumenta o padding para mais destaque */
    margin: 2px 0; /* Reduz a margem vertical para aproximar os links */
    color: #FFD700; /* Mostarda */
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    font-weight: bold;
    text-decoration: none; /* Remove a sublinha */
    transition: color 0.3s, transform 0.3s; /* Adiciona transição suave para a cor e a transformação */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
}

a.custom-link:hover {
    color: #ffffff; /* Texto branco ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

/* Adiciona espaçamento entre os links */
.form-group.submit-btn, .form-group.register-btn {
    margin-top: 10px;
    text-align: center; /* Centraliza o conteúdo do grupo de formulários */
}

/* Efeitos de nuvem no plano de fundo */
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 200px; /* Ajustar o tamanho das nuvens conforme necessário */
    opacity: 0.7;
}

#cloud1 {
    top: 5%;
    left: 10%;
}

#cloud2 {
    top: 20%;
    left: 70%;
}

#cloud3 {
    top: 50%;
    left: 30%;
}
