<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nap - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts_login.js') }}" defer></script>
</head>
<body>
    <header class="header-container">
        <h1><img src="{{ url_for('static', filename='images/logo_nap.png') }}" alt="Logo" class="logo"> Nap</h1>
    </header>
    <main class="main-container">
        <div class="form-container">
            <form action="{{ url_for('actions.login') }}" method="POST">
                <div class="form-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" id="login-button">Logar</button>
                </div>
                <div class="form-group register-btn">
                    <a href="{{ url_for('actions.register') }}">
                        <button type="button" id="register-link">Cadastrar</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer-container">
        <p>&copy; 2024 Nap. Todos os direitos reservados.</p>
    </footer>
    <div class="clouds">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud1">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud2">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud3">
    </div>
</body>
</html>
