<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nap - Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts_signup.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1><img src="{{ url_for('static', filename='images/logo_nap.png') }}" alt="Logo" class="logo"> Nap</h1>
        <div class="form-container">
            <form action="{{ url_for('actions.register') }}" method="post">
                <div class="form-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group submit-btn">
                    <button type="submit" id="register-button">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="clouds">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud1">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud2">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud3">
    </div>
</body>
</html>
