<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nap - Análise do Sonho</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/views.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <h1><a href="{{ url_for('views.index') }}"><img src="{{ url_for('static', filename='images/logo_nap.png') }}" alt="Logo" class="logo"></a> Nap</h1>
        </div>
    </header>
    <main>
        <div class="main-container">
            <h2>Análise do Sonho</h2>
            <div>
                <h3>Resumo do Sonho:</h3>
                <p class="align_text">{{ dream }}</p>
            </div>
            <div>
                <h3>Análise Psicológica:</h3>
                <p class="align_text">{{ ai_analysis }}</p>
            </div>
            <div>
                <h3>Sugestões Criativas:</h3>
                <p class="align_text">{{ suggestions | safe }}</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Nap. Todos os direitos reservados.</p>
        </div>
    </footer>
    <div class="clouds">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud1">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud2">
        <img src="{{ url_for('static', filename='images/nuvem.png') }}" class="cloud" id="cloud3">
    </div>
</body>
</html>
